body {
  padding-top: 70px;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  background-color: #1c1c1c;
}

.hero {
  height: 90vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,.6)),
    url("image/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
}

.card-img-top {
  height: 200px;      
  object-fit: cover;  
}





