body {
  font-family: 'Segoe UI', sans-serif;
}

.btn {
  background-color: #0c0801;
  color: #fff;
  border: none;
}

.navbar {
  color: #c9a45c !important;
  font-weight: 600;
  background-color: #1c1c1c;
}

.home-banner {
 height: 90vh;
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
    url("image/bg.jpg");

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white
}

.midtext h4 {
  font-weight: bold;
}

.midtext p {
  font-size: 2rem;
  margin-bottom: 0;
}

.welcome-section {
  padding: 80px 0;
  background-color: #000000;
  color: white
}

.card-img-top {
  height: 200px;      
  object-fit: cover;  
}
