body {
  padding-top: 70px;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  background-color: #1c1c1c;
}

.hero {
  height: 90vh;
  background:
    linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
    url("image/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}


.hero h1 {
  font-size: 4rem;
}

.page-content {
  margin-top: 40px;
}

.service-card {
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,.1);
}

.footer {
  background: #1c1c1c;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
